body {
  text-align: center;
}

.grid-container {
  display: grid;
  gap: 5px;
  justify-content: center;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 0px;
  text-align: center;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s;
}

.grid-item:hover {
  background-color: #f1f1f1;
  transform: scale(1.05);
}

.grid-item.marked {
  background-color: #ff6b6b;
  color: #ffffff;
  border: 1px solid #ff4757;
}
